.btn-main {
    background: var(--accent-secondary);
    padding: 10px 25px;
    transition: all .25s ease-in-out;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'proxima_novabold';
    text-shadow: var(--text-shadow);
}

.btn-main:hover {
    background: var(--accent-primary);
    text-decoration: none;
}