.btn-main {
    background: var(--accent-secondary);
    padding: 10px 25px;
    transition: all .25s ease-in-out;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'proxima_novabold';
    text-shadow: var(--text-shadow);
}

.btn-main:hover {
    background: var(--accent-primary);
    text-decoration: none;
}

.btn-secondary {
    background: var(--accent-primary);
    color: var(--accent-secondary-dark);
    text-shadow: none;
}

.btn-secondary:hover {
    background: var(--accent-secondary);
    color: white;
}

.btn-main.outline {
    background: white;
    border: 2px solid var(--accent-primary);
    color: var(--accent-primary);
    text-shadow: none;
}

.btn-main.outline:hover {
    background: var(--accent-primary);
    border: 2px solid var(--accent-primary);
    color: white;
}