/* start of relationship */
@media only screen and (min-width:992px) {

    .col-relationship:nth-child(1),
    .col-relationship:nth-child(2),
    .col-relationship:nth-child(3) {
        margin-top: -130px;
    }
}

.col-relationship-link:hover .col-relationship-overlay {
    opacity: 0 !important;
}

/* end of relationship */

/* start of tabs */
.col-tabs {
    transition: all .25s ease-in-out;
}

.col-tabs:hover {
    background: var(--accent-primary) !important;
    color: white !important;
}

/* end of tabs */

/* start of body */
table,
td,
th {
    border: 1px solid #000970;
    padding: 10px;
}

/* end of body */